= form_tag sessions_path, method: :post, class: 'centered-form' do
  %h2 Please Sign In
  .field
    = label_tag :username
    = text_field_tag :username, @username, class: 'input-block-level'
  .field
    = label_tag :password
    = password_field_tag :password, '', class: 'input-block-level'
  .actions
    = submit_tag 'Sign In', class: 'btn btn-primary btn-large pull-right'
