- unless signed_in?
  = render 'shared/introduction'

%h2
  Lightning Talk Topics
  %small
    = link_to '+ New Topic Idea', new_topic_path

%table
  %thead
    %tr
      %th Topic
      %th Description
      %th Submitter
      %th Speaker
  %tbody
  - @topics.each do |topic|
    %tr
      %td.title= topic.topic_link
      %td.desc= topic.short_description
      %td.submitter= topic.submitter_link
      %td.speaker= topic.speaker_link

= render 'shared/how_it_works'
