%p
  %h3
    = "#{@topic.title}"
    - if @topic.speaker.present?
      %small
        presented by
        = link_to @topic.speaker.username, @topic.speaker
    - else
      %small
        submitted by
        = link_to @topic.submitter.username, @topic.submitter

= simple_format @topic.description

%br/
%br/

- if signed_in? && current_user.can_edit_topic?(@topic)
  %p
    = link_to edit_topic_path(@topic), class: 'btn btn-primary' do
      %i.icon.icon-edit
      Edit Topic
    = link_to topic_path(@topic), method: :delete, class: 'btn btn-danger' do
      %i.icon.icon-trash
      Destroy Topic
