= form_for @user, html: { class: 'centered-form' } do |f|
  = yield :form_title

  - if @user.errors.any?
    #error_explanation
      %h4= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :username
    = f.text_field :username, class: 'input-block-level'
  .field
    = f.label :name
    = f.text_field :name, class: 'input-block-level'
  .field
    = f.label :email do
      Email
      %small.pull-right (Never shown or shared)
    = f.text_field :email, class: 'input-block-level'
  .field
    = f.label :github
    = f.text_field :github, class: 'input-block-level'
  .field
    = f.label :password
    = f.password_field :password, class: 'input-block-level'
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation, class: 'input-block-level'
  .actions
    = f.submit 'Save', class: 'btn btn-primary btn-large pull-right'
