%h2= @user.username

%h3
  Karma Score:
  = @user.karma

%h3
  Submitted Topics
  - if @user.submitter_karma > 0
    %small= "(+ #{@user.submitter_karma} karma)"

- if @user.submitted_topics.empty?
  %p None yet!
- else
  %ul
    - @user.submitted_topics.each do |topic|
      %li= topic.title

%h3
  Topics Claimed
  - if @user.speaker_karma > 0
    %small= "(+ #{@user.speaker_karma} karma)"

- if @user.speeches.empty?
  %p None yet!
- else
  %ul
    - @user.speeches.each do |topic|
      %li= topic.title

- if signed_in?
  %p
    = link_to 'Edit', edit_user_path(@user)
    \|
    = link_to 'Destroy', user_path(@user), method: :delete
    \|
    = link_to 'Back', users_path
- else
  %p
    = link_to 'Back', root_path
