!!!
%html
  %head
    %title= "<CWDG/> LightningTalker"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body

    .container
      = bootstrap_flash


    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to '<CWDG/> LightningTalker', root_path, class: 'brand'
          %ul.nav
            %li= link_to 'Schedule', schedule_topics_path
          %ul.nav.pull-right
            - if signed_in?
              %li= link_to"#{current_user.username}'s Profile", current_user
              %li.divider-vertical
              %li= link_to 'Sign Out', sign_out_path
            - else
              %li= link_to 'Sign In', sign_in_path
              %li.divider-vertical
              %li= link_to 'Sign Up', sign_up_path

    .container
      = yield
