!!!
%html
  %head
    %title= "<CWDG/> LightningTalker"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render partial: 'shared/flashes'

    %header
      %h1= "<CWDG/> LightningTalker"
      %nav
        %ul
          %li= link_to 'Topics', topics_path
          - if signed_in?
            %li
              Logged in as
              = link_to current_user.username, current_user
              = link_to '(Sign Out)', sign_out_path
          - else
            %li= link_to 'Sign In', sign_in_path
            %li= link_to 'Sign Up', sign_up_path
    = yield
