!!!
%html
  %head
    %title= "<CWDG/> Lightning Talker"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render partial: 'shared/flashes'

    %header
      %h1= "<CWDG/> Lightning Talker"
      %nav
        %ul
          %li= link_to 'Topics', topics_path
    = yield
